# Your databricks workspace URL
DBC_URL=https://AZURE-REGION.azuredatabricks.net

# Your databricks personal access token, usually starts with "dbapi"
DBC_TOKEN=YOUR-TOKEN

# Your databricks username. For databricks on Azure, this will be your Active Directory username.
DBC_USERNAME=YOUR-DATABRICKS-USERID

# Notification email to alert on failures and job starts
DBC_NOTIFICATIONS_EMAIL=YOUR-EMAIL

# The size of the nodes to create in the Spark cluster
DBC_JOB_SUBMIT_SKU_SIZE=Standard_DS3_v2

# The minimum number of nodes in the Spark cluster
DBC_MIN_NODES=2

# The maximum number of nodes in the Spark cluster
DBC_MAX_NODES=8
